{% extends 'master.twig' %}

{% block pageContent %}

    <div class="box" id="boxCompleteTodo">

        <h2>Login</h2>

        <div class="boxInner">
            <form action="{{ action }}" method="post">
                <fieldset class="columns">
                    <dd><label for="username" class="column column-12">Username:</label></dd>
                    <dt><input type="text" id="username" name="username" value="{{ username }}" autocomplete="off" /></dt>

                    <dd><label for="password" class="column column-12">Password:</label></dd>
                    <dt><input id="password" type="password" name="password" value="" autocomplete="off" /></dt>

                    <label for="btnSubmit"><input type="submit" id="btnSubmit" name="btnSubmit" value="Complete" /></label>

                    <input type="hidden" name="moduleAction" id="moduleAction" value="login" />
                </fieldset>
            </form>
        </div>

    </div>

    {% include 'partials/formerrors.twig' %}

{% endblock %}
