<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="oldie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="oldie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="oldie ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

    <title>{{ pageTitle }}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=520" />
    <meta http-equiv="cleartype" content="on" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link rel="stylesheet" media="screen" href="css/reset.css" />
    <link rel="stylesheet" media="screen" href="css/screen.css" />

    {% block javascript %}{% endblock %}

</head>
<body>
<div id="siteWrapper">

    <!-- header -->
    {% block pageHeader %}
        <header><h1><a href="index.php">{{ pageTitle }}</a></h1></header>
    {% endblock %}

    <!-- content -->
    <div>
        <section>
            {% block pageContent %}
                <p>This should never be displayed!</p>
            {% endblock %}
        </section>
    </div>

    <!-- footer -->
    {% block pageFooter %}
        <footer><p>&copy; 2013, <a href="http://www.ikdoeict.be/" title="IkDoeICT.be">IkDoeICT.be</a></p></footer>
    {% endblock %}

</div>
</body>
</html>